section {
  margin: auto;
  padding: 2em;
  width: 80%;
}

section:not(:last-child) {
  border-bottom: 1px solid black;
}

label {
  margin-inline-end: 0.5em;
}

pre {
  height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 0.5em;
}
